@model IEnumerable<TEST.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <br /><br /><br /><br /><br />
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    @*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageURL)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageURL)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |                
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }
    
    </table>*@


    <table class="table table-stripped table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageURL)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => item.Price).ToString()))
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.JobContent)
                    </td>*@
                <td>
                    @*@Html.DisplayFor(modelItem => item.JobImage)*@
                    <img src="~/Uploads/@Html.DisplayFor(model=>item.ImageURL)" class="thumbnail img-responsive" style="width:80px;height:65px" />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id}) |                    
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
</body>
</html>
